<h1 class="title"><%= @story.title %></h1>
<section class="section is-medium">
  <h2 class="subtitle">
    <%= @story.content %>
  </h1>
</section>
<p class="subtitle"><%= link_to '返回故事列表', stories_path %></p>